body{
    background-color: rgb(209, 198, 198);
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100vh;
    
}
.side{
    background-color: bisque;
    padding: 20px;
}

header{
    padding-left: 40px;
    margin-bottom: 60px;

}

form div{
    padding-bottom: 20px;
}
p{
    margin-left: 25px;
}

.form-control:focus {
    color: #554e4e;
    background-color: bisque;
    border-color: rgb(10, 10, 10);
    outline: 0;
    box-shadow: none;
  }
/* .tuton{
    border: none;
    padding: 0;
    background: none;
} */
.fa-check{
    color: green;
}


.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: brown;
    background-color: bisque;
    border-bottom: dotted;
}
