body{
    background-color: rgb(209, 198, 198);
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100vh;
    
}
.side{
    background-color: bisque;
    padding: 20px;
}

header{
    padding-left: 40px;
}

form div{
    padding-bottom: 20px;
}

.form-control:focus {
    color: #495057;
    background-color: bisque;
    border-color: #7c0b60;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(6, 79, 156, 0.25);
  }
/* .tuton{
    border: none;
    padding: 0;
    background: none;
} */


.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: brown;
    background-color: bisque;
    border-bottom: dotted;
}
